

table {
  width: 300px;
}
tbody tr:nth-child(odd){
  background-color: #e1e1e1;
}

button.add-exercise {
  cursor: pointer;
  color: darkblue;
  padding: 1rem;
  background: transparent;
  border: 1px solid #eeeeee;
}